
    
.cards
  display: flex
  flex-direction: row
  gap: 1.25rem
  padding: 0 1.25em 0 1.25rem
  margin-bottom: 5.375rem

.card
  display: flex
  flex-flow: column
  gap: 1em

.card__price
  font-weight: 600

.card__name
  @extend .card__price
  font-size: 1.25rem

