

.cards
  display: flex
  flex-direction: row
  justify-content: center
  gap: .625rem
  padding: 0 1.25em 0 1.25rem
  margin-bottom: 12.1875rem

.card
  display: flex
  flex-flow: column
  gap: 1em

.card__price
  font-weight: 700

.card__name
  @extend .card__price
  font-size: 1.25rem

