@use 'variables'
@use 'blocks'
@use 'cards'
@use 'collection_general'
@use 'collection_brending'

.collection
  display: flex
  flex-direction: column
  width: 100%

  .seeLink
    margin: 1.5rem 0 1.5rem 0

.collection__head
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: end
  padding: 0 4.125em 0 4.125rem
  margin-bottom: 4.6875rem
  border-bottom: variables.$border-general

.collection__title
  font-size: 4.375rem
  font-weight: 700

.collection_bestsellers

  .collection__title
    font-weight: 400