@use 'variables'
@use 'footer__wrap_left'
@use 'footer__wrap_right'


.footer
  display: flex
  flex-flow: row wrap
  background-color: variables.$background-general

.footer__title
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  width: 100%
  flex-shrink: 0
  padding: 0 8.75rem 0 8.75rem
  border-bottom: variables.$border-general

  .logo
    margin-bottom: 1.25rem

  .footer__slogan
    font-size: 1.125rem
    font-weight: 700