@use 'variables'
@use 'sass:string'

// @media (min-width: 1440px) and (max-width: 6000px)
//   :root
//     font-size: string.unquote("calc(16px + 40 * (100vw - 1440px) / 6000)")

// string.unquote("calc(16px + 40 * (100 - 1440px) / 6000)")

*
  font-family: 'Roboto', sans-serif
  box-sizing: border-box
  margin: 0
  padding: 0
  font-weight: 400

  .list
    list-style: none

.body
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: repeat(3, auto)
  grid-template-areas: "header" "main" "footer"

.header
  grid-area: header

.main
  grid-area: main
  display: flex
  flex-direction: column
  width: 100%
  gap: 12rem

.footer
  grid-area: footer

.logo
  font-size: 4.313rem

.buttonLink
  display: flex
  justify-content: center
  align-items: center
  text-decoration: none
  color: inherit
  border: none
  cursor: pointer
  width: fit-content
  height: fit-content

.list
  list-style: none

.seeLink
  font-size: 1.0625rem

  &:hover
  @include variables.underlineHover

.seeLink_arrow
  width: unset
  height: unset

  &:hover
    text-decoration: none

  .seeLink__arrow
    transition: margin 0.15s 0.1s cubic-bezier(0.33,0.10,0.38,0.19)
