@use 'variables'

.header
  align-self: top
  width: 100%
  height: 5.125rem
  border-top: variables.$border-general
  border-bottom: variables.$border-general
  
  
.header__nav
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  width: 100%
  height: 100%
  padding: 0 3.5em 0 3.5rem

.header__menu
  display: flex
  flex-direction: row

  > :first-child
    border-left: variables.$border-general

.header__link
  width: 11.438rem
  height: 5rem
  border-right: variables.$border-general