@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto-v49-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/roboto-v49-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/roboto-v49-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/roboto-v49-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/roboto-v49-latin-800.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/roboto-v49-latin-900.woff2") format("woff2");
}
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
* .list {
  list-style: none;
}

.body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12rem;
}

.footer {
  grid-area: footer;
}

.logo {
  font-size: 4.313rem;
  margin-bottom: 0.2rem;
}

.buttonLink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  border: none;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.list {
  list-style: none;
}

.seeLink {
  font-size: 1.0625rem;
}
.seeLink:hover {
  text-decoration: underline;
  text-underline-offset: 0.3125rem;
}

.seeLink_arrow {
  width: unset;
  height: unset;
}
.seeLink_arrow:hover {
  text-decoration: none;
}
.seeLink_arrow .seeLink__arrow {
  transition: margin 0.15s 0.1s cubic-bezier(0.33, 0.1, 0.38, 0.19);
}

.header {
  align-self: top;
  width: 100%;
  height: 5.125rem;
  border-top: 0.125rem solid #000000;
  border-bottom: 0.125rem solid #000000;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 3.5em 0 3.5rem;
}

.header__menu {
  display: flex;
  flex-direction: row;
}
.header__menu > :first-child {
  border-left: 0.125rem solid #000000;
}

.header__link {
  width: 11.438rem;
  height: 5rem;
  border-right: 0.125rem solid #000000;
}

.blockWrap {
  display: flex;
  flex-direction: row;
}

.block {
  position: relative;
  height: 38.75rem;
}

.block__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.block__link {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.125rem;
  width: 17.5rem;
  height: 6.875rem;
  background-color: #FFBCBC;
}
.block__link:hover {
  background-color: #f0b6b6;
}

.block_textImg {
  position: relative;
  width: 100%;
  background-color: #AABAD0;
}
.block_textImg .block__link {
  position: absolute;
  bottom: 0;
  left: 45rem;
}
.block_textImg .block__description {
  position: absolute;
  left: 45rem;
  bottom: 11.875rem;
}
.block_textImg .block__description .block__brand {
  margin-left: 0.2em;
  font-size: 1.1875rem;
}
.block_textImg .block__description .block__model {
  font-size: 4.375rem;
  margin-bottom: 1.2rem;
}
.block_textImg .block__description .block__descriptionText {
  margin-left: 0.3em;
  font-size: 1.25rem;
}

.block_small .block__img {
  width: 100%;
  height: 100%;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.625rem;
  padding: 0 1.25em 0 1.25rem;
  margin-bottom: 12.1875rem;
}

.card {
  display: flex;
  flex-flow: column;
  gap: 1em;
}

.card__price, .card__name {
  font-weight: 700;
}

.card__name {
  font-size: 1.25rem;
}

.collection_general .collection__head {
  position: relative;
  padding: unset;
  margin: 5.3125rem 9.375rem 13.75rem 8.125rem;
  border: none;
}
.collection_general .collection__head .collection__description {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: start;
  top: 19.375rem;
}
.collection_general .collection__head .collection__description .collection__title {
  white-space: nowrap;
  font-size: 5.25rem;
  font-weight: 400;
}
.collection_general .collection__head .collection__description .seeLink {
  margin-left: 1.25rem;
}
.collection_general .collection__head .collection__description .seeLink .seeLink__arrow {
  margin-left: 0.9375rem;
}
.collection_general .collection__head .collection__description .seeLink:hover .seeLink__arrow {
  margin-left: 1.875rem;
}
.collection_general .collection__head .collection__img {
  margin-left: auto;
}

.brandNames {
  display: flex;
  flex-flow: row wrap;
  align-items: bottom;
  justify-content: space-between;
  row-gap: 3.75rem;
}

.brandNames__carla {
  margin-top: 1.125rem;
}

.aboutUs {
  display: flex;
  flex-direction: row;
  margin: 15rem 18.75rem 8.75rem 8.125rem;
}
.aboutUs .aboutUs__description {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}
.aboutUs .aboutUs__description .aboutUs__title {
  font-size: 4.375rem;
  font-weight: 700;
}
.aboutUs .aboutUs__description .aboutUs__text {
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.aboutUs .aboutUs__img {
  margin-left: 8.125rem;
}

.collection {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.collection .seeLink {
  margin: 1.5rem 0 1.5rem 0;
}

.collection__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding: 0 4.125em 0 4.125rem;
  margin-bottom: 4.6875rem;
  border-bottom: 0.125rem solid #000000;
}

.collection__title {
  font-size: 4.375rem;
  font-weight: 700;
}

.collection_bestsellers .collection__title {
  font-weight: 400;
}

.footer__wrap_left {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  width: 65.4861111%;
  padding: 2.5rem 5.0625rem 1.5rem 8.75rem;
}

.footer__nav {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.footer__navblock {
  display: flex;
  flex-direction: column;
  width: 33.3333333333%;
}

.footer__navTitle {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.375rem;
}

.footer__navLinkS {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.footer__link {
  font-size: 1.125rem;
}
.footer__link:hover {
  text-decoration: underline;
  text-underline-offset: 0.3125rem;
}

.footer__brandCopyright {
  display: flex;
  flex-direction: row;
  margin: 0.875rem 0 2.5rem 0;
}
.footer__brandCopyright .footer__copyrightSymbol {
  margin-right: 0.5rem;
}

.creditLink {
  display: inline-flex;
  text-decoration: underline;
  text-underline-offset: 0.3125rem;
}

.footer__creditLinks, .footer__disclaimer {
  font-size: 0.75rem;
}

.footer__disclaimer {
  width: 20.625rem;
  margin-top: 0.75rem;
}

.footer__contactInformation {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.footer__wrap_right {
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  gap: 1.0625rem;
  padding: 2.8125rem 8.125rem 2.875rem 2.625rem;
  margin-right: auto;
  border-left: 0.125rem solid #000000;
}
.footer__wrap_right .footer__slogan {
  width: 16.875rem;
}
.footer__wrap_right .seeLink {
  justify-content: flex-start;
  font-size: 1.25rem;
  width: 19.8125rem;
  margin-bottom: 1.5625rem;
}
.footer__wrap_right .seeLink .seeLink__text {
  font-weight: 600;
}
.footer__wrap_right .seeLink .seeLink__arrow {
  margin-left: 0.625rem;
}
.footer__wrap_right .seeLink:hover .seeLink__arrow {
  margin-left: 1.25rem;
}

.footer__socialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.footer__socialMedia .footer__slogan {
  width: unset;
  margin-right: auto;
}
.footer__socialMedia .footer__instagramLogo {
  margin-right: 1.0625rem;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 1.0625rem;
}
.footer__contacts .footer__telephone {
  font-size: 1.0625rem;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  background-color: #AABAD0;
}

.footer__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
  padding: 0 8.75rem 0 8.75rem;
  border-bottom: 0.125rem solid #000000;
}
.footer__title .logo {
  margin-bottom: 1.25rem;
}
.footer__title .footer__slogan {
  font-size: 1.125rem;
  font-weight: 700;
}/*# sourceMappingURL=index.css.map */